@import url('https://fonts.googleapis.com/css2?family=Playfair+Display&display=swap');

body{
    background-color: #C4C4C4;
    font-family: 'Playfair Display', serif;
}
.teste{
    display: flex;
    flex-direction: row-reverse !important;
}

.red{
    background-color: red;
}

.box-shadow{
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

@media screen and (max-width: 1000px) {
    .no-gap{
        gap: 0px !important;
    }
}